{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" name="blog-post" id="blog_post"
                            aria-describedby="helpId" placeholder="What's on your mind?">
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-info btn-block" type="button">
                        Post
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content%}