{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-3">
        <img class="img-fluid" src="https://via.placeholder.com/1000x1000&text=Profile Image" alt="Profile Image">
    </div>
    <div class="col-9">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="helpId" placeholder="First Name">
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="helpId" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Enter Password">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="confirm_password" id="confirm_password" aria-describedby="helpId" placeholder="Confirm Password">
                </div>
                <input type="button" class="btn btn-info btn-block" value="Update">
            </div>
        </form>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-10">
                    <div class="form-group">
                        <input type="text" class="form-control" name="blog-post" id="blog_post"
                            aria-describedby="helpId" placeholder="What's on your mind?">
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-info btn-block" type="button">
                        Post
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
            <li class="list-group-item mb-4">
                Blog Post Body
                <div>
                    <small>
                        &mdash; Lucas Lang
                        <span class="float-right">
                            a few seconds ago
                        </span>
                    </small>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}
